In [32]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import researchpy as rp
from scipy import stats

# Create Connection object and get list of tables
connString = 'mysql+pymysql://dm_team2:dm_team1118#@18.136.56.185:3306/project_sales'
conn = create_engine(connString)
stmt = "SELECT * FROM  data"
df0 = pd.read_sql(stmt,conn)

df0.head()

,Created,Product_ID,Source,Mobile,EMAIL,Sales_Agent,Location,Delivery_Mode,Status
0,14-11-2018 10:05,,Website,984XXXXXXX,aXXXXXXX@gmail.com,Sales-Agent-11,,Mode-5,Open
1,14-11-2018 09:22,,Website,XXXXXXX,#VALUE!,Sales-Agent-10,,Mode-5,Open
2,14-11-2018 09:21,,Website,XXXXXXX,dXXXXXXX@yahoo.com,Sales-Agent-10,,Mode-5,Open
3,14-11-2018 08:46,,Website,XXXXXXX,wXXXXXXX@gmail.com,Sales-Agent-10,,Mode-5,Open
4,14-11-2018 07:34,,Website,XXXXXXX,cXXXXXXX@gmail.com,Sales-Agent-10,,Mode-5,Open

In [2]:
# Save the File
df0.to_csv('1_SalesEffectDownLoad.csv',index=False)

In [3]:
df0.shape

(7422, 9)

In [4]:
# As you said it doesn't convert to NAN but assumes it as a valid value. 
# Hence is shown in the counter listing
from collections import Counter
Counter(df0.Location)

Counter({'': 58,
         'Bangalore': 2084,
         'Other Locations': 2500,
         'UAE': 79,
         'Trivandrum': 58,
         'Hyderabad': 528,
         'Chennai': 909,
         'UK': 41,
         'USA': 45,
         'Delhi': 471,
         'Mumbai': 402,
         'Kolkata': 55,
         'Singapore': 17,
         'Pune': 142,
         'AUSTRALIA': 25,
         'EUROPE': 3,
         'Malaysia': 4,
         'Howrah': 1})

In [35]:
# Now read the the file we saved as CSV above. The functions defaults the parameter
#'keep_default_na' to True.Hence it converts all the null / blank values to NAN. 
# Read CSV is a very power data clenser in itself, it has lots of parameters and 
# if used effectively we can complete a lot of data clensing, data replacement activities etc
# at the time of reading CSV (obviously we have to use right paraments for it). 
# See help on the list of paramenters.

df1 = pd.read_csv('1_SalesEffectDownLoad.csv')
df1.head()

,Created,Product_ID,Source,Mobile,EMAIL,Sales_Agent,Location,Delivery_Mode,Status
0,14-11-2018 10:05,NaN,Website,984XXXXXXX,aXXXXXXX@gmail.com,Sales-Agent-11,NaN,Mode-5,Open
1,14-11-2018 09:22,NaN,Website,XXXXXXX,#VALUE!,Sales-Agent-10,NaN,Mode-5,Open
2,14-11-2018 09:21,NaN,Website,XXXXXXX,dXXXXXXX@yahoo.com,Sales-Agent-10,NaN,Mode-5,Open
3,14-11-2018 08:46,NaN,Website,XXXXXXX,wXXXXXXX@gmail.com,Sales-Agent-10,NaN,Mode-5,Open
4,14-11-2018 07:34,NaN,Website,XXXXXXX,cXXXXXXX@gmail.com,Sales-Agent-10,NaN,Mode-5,Open

In [23]:
# Now redo the read by setting the parameter to False explicitly, 
# you will find the nan conversion didnt happen.
df2 = pd.read_csv('1_SalesEffectDownLoad.csv',keep_default_na=False)
df2.head()

,Created,Product_ID,Source,Mobile,EMAIL,Sales_Agent,Location,Delivery_Mode,Status
0,14-11-2018 10:05,,Website,984XXXXXXX,aXXXXXXX@gmail.com,Sales-Agent-11,,Mode-5,Open
1,14-11-2018 09:22,,Website,XXXXXXX,#VALUE!,Sales-Agent-10,,Mode-5,Open
2,14-11-2018 09:21,,Website,XXXXXXX,dXXXXXXX@yahoo.com,Sales-Agent-10,,Mode-5,Open
3,14-11-2018 08:46,,Website,XXXXXXX,wXXXXXXX@gmail.com,Sales-Agent-10,,Mode-5,Open
4,14-11-2018 07:34,,Website,XXXXXXX,cXXXXXXX@gmail.com,Sales-Agent-10,,Mode-5,Open

In [24]:
Counter(df2.Location)

Counter({'': 58,
         'Bangalore': 2084,
         'Other Locations': 2500,
         'UAE': 79,
         'Trivandrum': 58,
         'Hyderabad': 528,
         'Chennai': 909,
         'UK': 41,
         'USA': 45,
         'Delhi': 471,
         'Mumbai': 402,
         'Kolkata': 55,
         'Singapore': 17,
         'Pune': 142,
         'AUSTRALIA': 25,
         'EUROPE': 3,
         'Malaysia': 4,
         'Howrah': 1})

In [31]:
# shows all the 58 values
df2.Location[df2.Location==''] 
# Assigns these 58 cells with Nan
df2.Location[df2.Location==''] = np.nan
#Should show 58 values
print(df2.Location.isnull().sum())
df2.head()

# Similarly you may do it for product ID also.

58

,Created,Product_ID,Source,Mobile,EMAIL,Sales_Agent,Location,Delivery_Mode,Status
0,14-11-2018 10:05,,Website,984XXXXXXX,aXXXXXXX@gmail.com,Sales-Agent-11,NaN,Mode-5,Open
1,14-11-2018 09:22,,Website,XXXXXXX,#VALUE!,Sales-Agent-10,NaN,Mode-5,Open
2,14-11-2018 09:21,,Website,XXXXXXX,dXXXXXXX@yahoo.com,Sales-Agent-10,NaN,Mode-5,Open
3,14-11-2018 08:46,,Website,XXXXXXX,wXXXXXXX@gmail.com,Sales-Agent-10,NaN,Mode-5,Open
4,14-11-2018 07:34,,Website,XXXXXXX,cXXXXXXX@gmail.com,Sales-Agent-10,NaN,Mode-5,Open

In [27]:
df2.Location.isnull().sum()

0

In [36]:
Counter(df2.Status)

Counter({'Open': 82,
         'Potential': 708,
         'In Progress Positive': 643,
         'Not Responding': 1129,
         'Just Enquiry': 760,
         'Junk Lead': 1536,
         'CONVERTED': 834,
         'In Progress Negative': 626,
         'LOST': 440,
         'Long Term': 646,
         'converted': 18})

In [37]:
Counter(df2.Product_ID)

Counter({'': 58,
         '9': 992,
         '19': 1189,
         '18': 1711,
         '15': 1518,
         '27': 739,
         '5': 487,
         '2': 38,
         '3': 7,
         '25': 90,
         '10': 168,
         '20': 102,
         '11': 12,
         '21': 66,
         '1': 105,
         '12': 36,
         '13': 5,
         '17': 7,
         '24': 3,
         '26': 31,
         '16': 3,
         '23': 2,
         '22': 8,
         '8': 6,
         '14': 27,
         '6': 7,
         '0': 2,
         '28': 1,
         '7': 1,
         '4': 1})

In [46]:
Counter(df0.Status[df0.Location==''])

Counter({'Open': 49,
         'Just Enquiry': 3,
         'Not Responding': 4,
         'Long Term': 1,
         'Junk Lead': 1})